#barranav{
    height: 70px;
}
#menus{
    padding: 40px;
}
#colunas{
    background-color: #000;
}
#logo{
    float: 50%;
    width: 1202px;
    height: 742px;    
}
#imagens{
    width: 195px;
    height: 195px;
    padding: 40px;
    border-radius:100%;
}
#listagens, tabelas{
    background-color: #EACDF6;
}
/*Fundo do corpo da página*/
#fundo{
    background-color: #000;
    background: #000;
    color: #c6c8ca;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    align-items: center;
}
#fundo2{
    background-color: #721799;
    border-radius: 20px;
}
#rodape{
    background-color: #000;
    border: 50px;
    height: 300px; 
    width: 100%;
}
#rodape2{
    background-color: #000;
    height: 200px; 
}
.holder {
    display: flex;
    justify-content: center;
}
.Menu nav a{
    padding: 10px;
    text-decoration: none;
}
/*Altera abaixo o tamanho da imagem logo da página inicial, que dá acesso ao link de denúncia*/
#imagem{
width: 55px;
margin-right:25pt;
}
/*Altera abaixo as espessuras dos formulários normais*/
#formularios{ 
   height: 40px;
   background-color: #CBFAF3;
   font-size: 30px;   
}
#formularios3{ 
   height: 40px;
   background-color: #CBFAF3;
   font-size: 22px;
   
} 
#sexo{ 
   /*background-color: #CBFAF3;*/
   font-size: 30px;
   
} 
/*Altera abaixo as espessuras dos formulários que comportam grandes textos.*/
#formulario{
   height: 200px;
   background-color: #CBFAF3;
   font-size: 20px;
} 
.formularios{
   height: 200px;
   background-color: #CBFAF3;
   font-size: 20px;
} 
#formulario4{
   height: 40px;
   background-color: #CBFAF3;
} 
#masculino{
   background-color: #00F5FF;
}
#feminino{
   background-color: #FF82AB; 
}
#bordatab{
    border-radius: 20px;
}
#botao2{
    padding-left: 10px;
}